<%- include("../../partials/admin/header.ejs")%>
<%- include("../../partials/admin/navbar.ejs")%>
<div class="container">
    

    <div class="card margin-top">

        <div class="card-header d-flex justify-content-center">
            <h2 >Categories</h2>
        </div>
        <div class="card-body ">
            <table class="table table-striped">
                <thead>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Slug</th>
                    <th scope="col">Actions</th>
                </thead>
                <tbody>
                    <%
                    categories.forEach((category)=>{%>
                        <tr>
                            <td><%=category.id%></td>
                            <td><%= category.title%></td>
                            <td><%=category.slug%></td>
                            <td><a href="#" class="btn btn-dark">Details</a></td>
                        </tr>
                    <%})


                    %>
                </tbody>
            </table>
        </div>

    </div>


</div>
<%- include("../../partials/admin/footer.ejs")%>